:root {
    --text-colour:         #ffffff;
    --background-color:    #4d4d4d;
    --border-color:        #3b3b3b;

    --link-colour:         #5e7dff;
    --link-hover-colour:   #4d6ce9;
    --link-active-colour:  #2e47ad;
    /*--link-visited-colour: #9c5eff;*/
    --link-visited-colour: var(--link-colour);
}

html {
    background-color: var(--background-color);
    color: var(--text-colour);

    font-family: "Inter", sans-serif;
    font-size: large;

    min-height: 100%;
}

body {
    margin: 64px;
}

main {
    display: flex;
    flex-direction: column;
}

main > * {
    /* margin: 60px auto; */
}

/* anchor tag */
a {
    color: var(--link-colour);
}

a:hover {
    color: var(--link-hover-colour);
}

a:active {
    color: var(--link-active-colour);
}

a:visited {
    color: var(--link-visited-colour);
}

a[href="#"] {
    color: red;
    cursor: not-allowed;
}

/* canvas */
canvas {
    outline: var(--border-color) 4px solid;
    /*box-shadow: 32px 32px 64px #000;*/
    box-shadow: 0 0 64px #000;
    width: 800px;
    image-rendering: pixelated;
}
